# =========================
# Maven
# =========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# =========================
# Compilados Java
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
dist/

# =========================
# Sistema operativo
# =========================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~

# =========================
# Archivos temporales
# =========================
*.tmp
*.swp

# =========================
# Datos generados
# =========================
data/*.json